# =======================================================================
# 1. JAVA & MAVEN (binários compilados)
# =======================================================================
**/target/
*.class
*.jar
*.war
*.ear
.mvn/
.factorypath

# =======================================================================
# 2. TERRAFORM (Senhas e estados da AWS)
# =======================================================================
# Ignora a pasta de plugins baixados localmente
**/terraform/.terraform/

# O arquivo .tfstate  
**/*.tfstate
**/*.tfstate.backup

# Arquivos de variáveis locais 
**/*.tfvars
**/*.tfvars.json
.env

# =======================================================================
# 3. DOCKER & BANCO DE DADOS LOCAL
# =======================================================================
**/mysql_data/
**/.docker/

# =======================================================================
# 4. FERRAMENTAS E IDEs
# =======================================================================
.idea/
*.iml
.vscode/
.classpath
.project
.settings/
*.log

# =======================================================================
# 5. SEGURANÇA (Chaves Privadas SSH)
# =======================================================================
*.pem
*_key
!*.pub
